{% extends 'base.html' %}

{% block head %}
<title>haylan's flask app</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>haylan's flask app</h1>

    <p>This is the home page. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae orci ipsum. In interdum malesuada finibus. Integer euismod luctus nunc, condimentum aliquam augue. Sed mattis iaculis odio quis venenatis. Nam volutpat feugiat tincidunt. Mauris id diam quis nisi mollis maximus ut at est. Nullam finibus lacinia arcu, sit amet mattis dui.</p>
    <p>In tristique rutrum venenatis. Quisque in arcu ut diam accumsan scelerisque. Suspendisse auctor neque nunc, quis bibendum elit facilisis id. Nulla tempus et ante ac gravida. Vivamus accumsan nulla eget leo vestibulum ultrices. Mauris nec velit facilisis felis dignissim posuere. Donec nec arcu a quam dignissim luctus. Nam ullamcorper ullamcorper mauris, vel sodales felis semper non. Maecenas congue vitae diam sodales tincidunt. Aliquam sit amet pulvinar magna, ac pulvinar ipsum. In suscipit non justo in tincidunt.</p>

    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/fortune">fortune teller</a>
        <a href="/films">films</a>
    </nav>

</div>
{% endblock %}