body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

h1, h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
}


.content {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: lightblue;
}
